
/*General Styling*/

*{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  text-align: center;
  background: linear-gradient(black, purple);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

header {
  text-align: center;
  background: rgb(59, 50, 59);
  color: #E6E7E8;
  padding-top: 5px;
  padding-bottom: 7px;
}

.extreme,
.number {
  color: rgb(0, 255, 0);
  font-weight: 700;
}

h1 {
  margin: 0px;
  font-weight: 300;
}

h2 {
  margin: 0 auto 10px auto;
  color: white;
  font-weight: 300;
  background: rgb(122, 115, 115);
  border: 3px solid rgb(0, 255, 0);
  padding: 3px;
}

/*Form Styling*/

.game{
  height: 400px;
}

.level {
  display: inline-block;
  width: 18%;
}

.stats {
  display: inline-block;
  width: 18%;
}

.action {
  display: inline-block;
  width: 52%;
}

form {
  margin: 10px auto;
  border: 3px solid black;
  height: 100%;
  vertical-align: top;
  padding: 8px;
  background-color: rgb(59, 50, 59);
}

/*ACTION FORM*/

.results {
  margin-top: 30px;
  color: #404041;
}

#guessDisplay{
  color: rgb(0, 255, 0);
  font-size: 60px;
}

/*Button and Input Styling*/

#userGuess{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 3px 3px;
}

::placeholder{
   color:#D0D2D3;
   text-align: center;
   opacity: 1;
   font-weight: 300;
}

button, 
input[type=reset]{
  color: rgb(0, 255, 0);
  background: black;
  border: 2px solid rgb(0, 255, 0);
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 45px;
}

button{
  width: 43.5%;
  margin-top: 1px;
  margin-right: 2%;
  margin-left: 2%;
}

input[type=reset]{
  width: 94%;
  margin: 35px auto;
}

button:disabled,
input[type=reset]:disabled{
  background: rgb(66, 66, 66);
  border-color: rgb(178, 245, 178);
  color:rgb(178, 245, 178);
}

button:hover,
input[type=reset]:hover{
  background: rgb(112, 24, 119) ;
  color: white;
}

button:disabled:hover,
input[type=reset]:disabled:hover{
  background: rgb(66, 66, 66);
  border-color: rgb(178, 245, 178);
  color:rgb(178, 245, 178);
}

/*STATS FORM*/

/*LEVEL FORM*/


fieldset {
  width: 89.5%;
  padding: 7px 5px;
  margin: 0 auto;
  border: 1px solid #D0D2D3;
}

.range {
  width: 41%;
  text-align: center;
  font-weight: 300;
  border
}

.to {
  display: block;
  color: #D0D2D3;
  font-weight: 300;
}

/*FOOTER*/

footer {
  margin: 50px auto;
}