
/*General Styling*/

*{
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  text-align: center;
}

header {
  background: #404041;
  color: #E6E7E8;
  padding-top: 5px;
  padding-bottom: 7px;
  text-align: center;
}

.number {
  color: #ED458B;
  font-weight: 700;
}

h1 {
  font-weight: 300;
  margin: 0px;
}

/*Form Styling*/

form {
  width: 50%;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #D0D2D3;
  margin: 15px auto 0 auto;
  padding: 7px 5px;
  width: 89.5%;
}

legend {
  color: #D0D2D3;
  font-weight: 300;
}

.range {
  font-weight: 300;
  text-align: center;
  width: 41%;
}

.to {
  color: #D0D2D3;
  display: inline-block;
  font-weight: 300;
}

@media screen and (max-width: 440px) {  
  .to {
    display: block;
  }
}

.results {
  color: #404041;
  margin-top: 30px;
}

#guessDisplay {
  color: #EB008B;
  font-size: 60px;
}

/*Button and Input Styling*/

#userGuess {
  display: block;
  margin: 0 auto;
  padding: 3px 3px;
  width: 90%;
}

::placeholder {
   color:#D0D2D3;
   font-weight: 300;
   opacity: 1;
}

button, 
input[type=reset] {
  background: #929497;
  color: #FFFFFF;
  border: 0;
  border-radius: 15px;
  font-weight: 300;
  margin-top: 45px;
  padding-top: 3px;
  padding-bottom: 3px;
}

button{
  margin-top: 1px;
  margin-right: 2%;
  margin-left: 2%;
  width: 43.5%;
}

input[type=reset]{
  width: 94%;
  margin: 35px auto;
}

button:disabled,
input[type=reset]:disabled{
  background: #D0D2D3;
}

button:hover,
input[type=reset]:hover{
  background:#EB008B;
}

button:disabled:hover,
input[type=reset]:disabled:hover{
  background: #D0D2D3;
}

